nav{
    background-image:url(/img/popular-pasta-dishes-in-italy-891397460.jpg);
    background-size: cover;
   
    

}
nav ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
nav li{
    list-style-type: none;
    
}
nav a{
    text-decoration: none;
    color: rgb(13, 14, 13);
    font-weight: 600;
    font-size: 50px;
    
}
h1{
    text-align: center;
}
.signIn{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.signIn li{
    color: rgb(13, 14, 13);
    font-weight: 600;
    font-size: 50px;
}
div{
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}
legend{
    font-size: 20px;
    color: rgb(20, 141, 95);
}
section{
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

@media  (orientation:portrait) and (width<=320px){
   nav a{
    font-size: 25px;
     
    }
    h1{
        font-size: medium;
    }
    &
    body{
        background-color: rgb(204, 190, 190);
       
    }
   
   
}